@use '../../../sass/abstracts/variables' as v;
@use '../../../sass/abstracts/mixins' as m;

.header {
  
  height: 5rem;
  width: calc(100% - 2rem);
  position: fixed;
  z-index: 999;
  background-color: v.$color-blue;
  padding: 1rem;
  color: #fff;
  
  &__container {
    width: 100%;
    margin: 0 auto;
  }

  &__logo {
    width: 4rem;
    margin-right: 1rem;
    cursor: pointer;
  }

  &__name {
    font-weight: 600;
    letter-spacing: 1px;
  }

  &__first {
    display: flex;
    align-items: center;
  }
  
  &__second {
    display: flex;
    align-items: center;
  }

  &__photoBox {
    margin-right: 2rem;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid currentColor;
  }

  &__photo {
    font-size: 2rem;
    color: v.$color-white;
  }

  &__info {
    margin-right: 2rem;
  }

  &__profession {
    text-align: right;
    font-weight: 200;
  }

  &__icon {
    font-size: 2.4rem;
    cursor: pointer;
  }

  &__actions {
    position: relative;
    opacity: 0;
    z-index: -1;
    transition: all .4s ease;
    pointer-events: none;

    &--show {
      pointer-events: all;
      z-index: 9;
      opacity: 1;
    }
  }

  &__menu {
    background-color: v.$color-white;
    padding: 1rem;
    position: absolute;
    top: 4rem;
    right: 0rem;
    width: 15rem;
    box-shadow: 0 5px 5px rgba(0, 0, 0, .5);
    border: 1px solid #ddd;
    color: v.$color-blue;
    
    span {
      cursor: pointer;
      margin-left: 1rem;
      transition: all .4s ease;
      border-bottom: 1px solid transparent;

      &:hover {
        border-color: #aaa;
      }
    }
  }
}