@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.flex {

  display: flex;

  &-center {
    justify-content: center;
    align-items: center;
  }

  &-column {
    flex-direction: column;
  }

  &-column-center {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &-between {
    justify-content: space-between;
    align-items: center;
  }

  &-evenly {
    justify-content: space-evenly;
    align-items: center;
  }

}