@use '../../../sass/abstracts/variables' as v;
@use '../../../sass/abstracts/mixins' as m;

.button-add {
  width: 20rem;
  margin-right: 2rem;

  &__icon {
    margin-right: 1rem;
    font-size: 1.6rem;
  }

}