@use '../../../../sass/abstracts/variables' as v;
@use '../../../../sass/abstracts/mixins' as m;

.notices {

  &__stat {
    color: #777;
    font-weight: 600;
    
    span {
      color: v.$color-text-bold;
      font-weight: normal;
    }
  }
  
  &__content {
    display: grid;
    grid-template-columns: 1fr;
  }

  &__main {
    margin-bottom: 5rem;
  }

  &__pagination {
    margin-bottom: 2rem;
  }
  
  &__articles {
    margin: 4rem auto 5rem auto;
  }

}