@use '../abstracts/variables' as v;

.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.show {
  display: block;
  opacity: 1;
  pointer-events: all;
}

.text-wrong {
  color: v.$color-error;
  font-weight: 500;
} 

.h-30 {
  height: 30rem;
}

.section-space {
  margin-bottom: 6rem;
}

.mb-4 {
  margin-bottom: 4rem;
}