@use '../../../sass/abstracts/variables' as v;
@use '../../../sass/abstracts/mixins' as m;

.layout-cms {

  background: v.$color-gray;

  &__page {
    margin-left: 20rem;
    padding: 10rem 15rem;
  }

}